
.container{
  width: 1280px;
  height: max-content;
  margin: 0 auto;
  font-family: Roboto, sans-serif;
}
.title{
  margin-top: 61px;
  margin-bottom: 45px;
}
.link-header-name{
    color: white;
    text-decoration: none;
}
 .header-name{
  color:  #000000;
  font-size: 80px;
  font-weight: 400;
  text-align: center;
  margin-top: 61px;
}
.header-name-color {
  color: #4bcaff;
  font-size: 80px;
  font-weight: 400;
}
.top-menu {
  background-color:  #35444f;
  text-align: center;
  width: 1280px;
 }
.top-menu_option {
  color:  #ffffff;
  font-size: 24px;
  font-weight: 400;
  text-align: left;
  display: inline-block;
  padding: 27px; 42px;
}
.top-menu__link:hover {
  background-color: #222f3a;
  padding: 25px; 42px;
}
.menu-selection-left{
  width: 344px;
  height: 399px;
  float: left; /* Обтекание по правому краю */
  margin-top: 51px;
  display: block;
  border: 2px solid #2c2b2b;
}
.menu-left_list{
    height: 81px;
    color:  #485863;
    font-size: 26.99px;
    font-weight: 400;
    line-height: 86px;
    text-align: left;
}
.links-left{
    text-decoration: none;
    color: #485863;
    padding-left: 34px;
}
.links-left:hover{
    color: black;
}
.menu-left_list:hover{
  background-color: gainsboro;
  padding-left: 24px;
}
.main-section__right_img{
     width: 885px;
     height: 470px;
     text-align: center;
     float: right;
     margin-top: 51px;
     border: 2px solid black;
    padding-top: 75px;
    }
.main-section__right{
    width: 885px;
    text-align: center;
    float: right;
}

.text-block1 {
  margin: 50px 30px 30px;
  color:  #2c2b2b;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.text-block2{
    color:  #2c2b2b;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin: 0 30px 50px;
}
.footer-menu_clearfix{
    clear: both;
}
.footer-menu{
    background-color: #b5b8bb;
    display: inline-block;
    width: 1280px;
    height: 79px;
    margin-bottom: 30px;
    padding-left: 34px;
}
.footer-menu_list{
    display: inline-block;
}
.footer-links {
    text-decoration: none;
    color: #0c1927;
    font-size: 28px;
    font-weight: 400;
    line-height: 90px;
    text-align: left;
    margin-top: 22px;
    padding-left: 20px;
}
.footer-links:hover{
    color: #3181a6;
    text-decoration: underline;
}
.copyright {
    color:  #010000;
    font-size: 24px;
    font-weight: 400;
    line-height: 90px;
    padding-right: 24px;
    padding-left: 133px;
}
.main-section__right_img:hover{
    background-size: 120%;
    trasition: background-size: 0.5s;
}